*, *:before, *:after {
  box-sizing: border-box;
}

#app{
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}

#border{
  border: 2px solid black;
  border-radius: 4px;
  width: 644px;
  height: 404px;
}

#palette{
  display: flex;
  flex-flow: row wrap;
  background: #d9a28e;
  border-radius: 8px;
  padding: 1em .2em;
}

#palette .color{
  width: 40px;
  height: 40px;
  border: 1px solid #1b1b1b;
  border-radius: 4px;
  margin: 0 4px 4px 0;
  cursor: pointer;
}

#palette .color.selected{
  border-width: 3px;
  border-color: #5e8e6d;
}
