*, *:before, *:after {
  box-sizing: border-box;
}

#color-picker div{
  width: 2em;
  height: 2em;
  border-radius: 4px;
}

#color-picker .blue{
  background: blue;
}

#color-picker .red{
  background: red;
}

#color-picker .green{
  background: green;
}

#board {
  /* width: 640px;
  height: 400px; */
  /* border: 2px solid black;
  border-radius: 4px; */
}

#border{
  border: 2px solid black;
  border-radius: 4px;
  width: 644px;
  height: 404px;
}
